body {
  background: url("https://images.pexels.com/photos/1433278/pexels-photo-1433278.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

.weather-app {
  padding: 80px 5px 0px 5px;
  color: #fff;
}
.weather-description {
  font-size: 39px;
  font-weight: 700;
  text-transform: capitalize;
}
.city-searched {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 18px;
}
.current-date {
  font-size: 11px;
  font-weight: 800;
}
.time-now {
  font-size: 11px;
  font-weight: 600;
}
.temperature-now {
  font-size: 50px;
  font-weight: 700;
}
.unit-switch {
  font-size: 9px;
  font-weight: 800;
  padding-left: 5px;
  margin-bottom: 10px;
}
.weather-now-icon {
  font-size: 80px;
  font-weight: 700;
}

.weather-additions {
  font-size: 13px;
  font-weight: 800;
  text-align: center;
  margin-top: 15px;

  text-align: right;
}
.additions-icon {
  display: inline;
  font-size: 15px;
  margin-left: 5px;
  text-align: right;
}
.additions-values {
  font-size: 27px;
  font-weight: 400;
  text-align: right;
  padding-bottom: 10px;
}

.signature {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
}

a {
  color: grey;
}

a:hover {
  color: #fff;
}

#time {
  font-weight: 800;
}
